doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='profile' href='https://gmpg.org/xfn/11')
  link(rel='shortcut icon' href='../../wp-content/themes/thebox/img/favicon.ico' type='image/x-icon')
  title My Subscription &ndash; diembox | Beauty
  link(rel='dns-prefetch' href='http://fonts.googleapis.com/')
  link(rel='dns-prefetch' href='http://s.w.org/')
  link(rel='alternate' type='application/rss+xml' title='thebox | Beauty » Feed' href='../../feed/index.html')
  link(rel='alternate' type='application/rss+xml' title='thebox | Beauty » Comments Feed' href='../../comments/feed/index.html')
  link(rel='alternate' type='application/rss+xml' title='thebox | Beauty » 12 Months Subscription Comments Feed' href='feed/index.html')
  script(type='text/javascript').
    window._wpemojiSettings = {"baseUrl":"https:\\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/wpthemecube.com\/thebox\/beauty\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.2.4"}};
    !function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55357,56424,55356,57342,8205,55358,56605,8205,55357,56424,55356,57340],[55357,56424,55356,57342,8203,55358,56605,8203,55357,56424,55356,57340]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
  style(type='text/css').
    img.wp-smiley,
    img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
    }
  link#wp-block-library-css(rel='stylesheet' href='../../wp-includes/css/dist/block-library/style.min.css@ver=5.2.4.css' type='text/css' media='all')
  link#photoswipe-css(rel='stylesheet' href='../../wp-content/plugins/woocommerce/assets/css/photoswipe/photoswipe.css@ver=3.5.6.css' type='text/css' media='all')
  link#photoswipe-default-skin-css(rel='stylesheet' href='../../wp-content/plugins/woocommerce/assets/css/photoswipe/default-skin/default-skin.css@ver=3.5.6.css' type='text/css' media='all')
  style#woocommerce-inline-inline-css(type='text/css').
    .woocommerce form .form-row .required { visibility: visible; }
  link#bootstrap-css(rel='stylesheet' href='/wp-content/themes/thebox/css/bootstrap.min.css@ver=5.2.4.css' type='text/css' media='all')
  link#feather-icons-css(rel='stylesheet' href='/wp-content/themes/thebox/css/iconfont.css@ver=5.2.4.css' type='text/css' media='all')
  link#fontawesome-css(rel='stylesheet' href='/wp-content/themes/thebox/css/fontawesome.min.css@ver=5.2.4.css' type='text/css' media='all')
  link#brand-icons-css(rel='stylesheet' href='/wp-content/themes/thebox/css/brands.min.css@ver=5.2.4.css' type='text/css' media='all')
  link#leaflet-css(rel='stylesheet' href='/wp-content/themes/thebox/css/leaflet.css@ver=5.2.4.css' type='text/css' media='all')
  link#slick-css(rel='stylesheet' href='/wp-content/themes/thebox/css/slick.css@ver=5.2.4.css' type='text/css' media='all')
  link#nice-select-css(rel='stylesheet' href='/wp-content/themes/thebox/css/nice-select.css@ver=5.2.4.css' type='text/css' media='all')
  link#themecube-style-css(rel='stylesheet' href='/wp-content/themes/thebox/style.css@ver=5.2.4.css' type='text/css' media='all')
  style#themecube_rgba_option-inline-css(type='text/css').
    .widget button[type="submit"]:focus,
    .btn-outline-primary.focus,
    .btn-outline-primary:focus,
    .btn-primary.focus,
    .btn-primary:focus,
    .single_add_to_cart_button:focus {
    box-shadow: 0 0 0 0.2rem rgba(231,77,234,.5) !important;
    }
  style#themecube_footer-inline-css(type='text/css').
    .site-footer { padding: 50px 0; }
  style#themecube_fixed_header-inline-css(type='text/css').
    @media screen and (min-width: 768px) {
    #page { margin-top: calc(70px + 1.6rem)}
    #page { margin-top: calc( 70px + 1.6rem); }
    }
  link#themecube-woocommerce-style-css(rel='stylesheet' href='/wp-content/themes/thebox/woocommerce.css@ver=5.2.4.css' type='text/css' media='all')
  style#themecube-woocommerce-style-inline-css(type='text/css').
    @font-face {
    font-family: "star";
    src: url("../../wp-content/plugins/woocommerce/assets/fonts/star.eot");
    src: url("../../wp-content/plugins/woocommerce/assets/fonts/star.eot@") format("embedded-opentype"),
    url("../../wp-content/plugins/woocommerce/assets/fonts/star.woff") format("woff"),
    url("../../wp-content/plugins/woocommerce/assets/fonts/star.ttf") format("truetype"),
    url("../../wp-content/plugins/woocommerce/assets/fonts/star.svg") format("svg");
    font-weight: normal;
    font-style: normal;
    }
    @font-face {
    font-family: "WooCommerce";
    src: url("../../wp-content/plugins/woocommerce/assets/fonts/WooCommerce.eot");
    src: url("../../wp-content/plugins/woocommerce/assets/fonts/WooCommerce.eot@") format("embedded-opentype"),
    url("../../wp-content/plugins/woocommerce/assets/fonts/WooCommerce.woff") format("woff"),
    url("../../wp-content/plugins/woocommerce/assets/fonts/WooCommerce.ttf") format("truetype"),
    url("../../wp-content/plugins/woocommerce/assets/fonts/WooCommerce.svg") format("svg");
    font-weight: normal;
    font-style: normal;
    }
  link#playfair-display-css(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Playfair+Display%3Aregular%2C700&subset=latin&ver=2.8' type='text/css' media='all')
  link#kc-general-css(rel='stylesheet' href='../../wp-content/plugins/kingcomposer/assets/frontend/css/kingcomposer.min.css@ver=2.8.css' type='text/css' media='all')
  link#kc-animate-css(rel='stylesheet' href='../../wp-content/plugins/kingcomposer/assets/css/animate.css@ver=2.8.css' type='text/css' media='all')
  link#kc-icon-1-css(rel='stylesheet' href='../../wp-content/themes/thebox/css/thebox.css@ver=2.8.css' type='text/css' media='all')
  link#kc-icon-2-css(rel='stylesheet' href='../../wp-content/themes/thebox/css/cosmetic.css@ver=2.8.css' type='text/css' media='all')
  link#kc-icon-3-css(rel='stylesheet' href='../../wp-content/themes/thebox/css/kids.css@ver=2.8.css' type='text/css' media='all')
  link#kc-icon-4-css(rel='stylesheet' href='../../wp-content/themes/thebox/css/shave.css@ver=2.8.css' type='text/css' media='all')
  link#kc-icon-5-css(rel='stylesheet' href='../../wp-content/themes/thebox/css/iconfont.css@ver=2.8.css' type='text/css' media='all')
  link#kc-icon-6-css(rel='stylesheet' href='../../wp-content/plugins/kingcomposer/assets/css/icons.css@ver=2.8.css' type='text/css' media='all')
  script(type='text/javascript' src='../../wp-includes/js/jquery/jquery.js@ver=1.12.4-wp')
  script(type='text/javascript' src='../../wp-includes/js/jquery/jquery-migrate.min.js@ver=1.4.1')
  script(type='text/javascript' src='../../wp-content/themes/thebox/js/leaflet.js@ver=5.2.4')
  link(rel='https://api.w.org/' href='../../wp-json/index.html')
  link(rel='EditURI' type='application/rsd+xml' title='RSD' href='../../xmlrpc.php@rsd')
  link(rel='wlwmanifest' type='application/wlwmanifest+xml' href='../../wp-includes/wlwmanifest.xml')
  meta(name='generator' content='WordPress 5.2.4')
  meta(name='generator' content='WooCommerce 3.5.6')
  link(rel='canonical' href='../../index.html@p=842.html')
  link(rel='shortlink' href='../../index.html@p=842.html')
  link(rel='alternate' type='application/json+oembed' href='../../wp-json/oembed/1.0/embed@url=http%253A%252F%252Fwpthemecube.com%252Fthebox%252Fbeauty%252Fproduct%252F12-months-subscription%252F')
  link(rel='alternate' type='text/xml+oembed' href='../../wp-json/oembed/1.0/embed@url=http%253A%252F%252Fwpthemecube.com%252Fthebox%252Fbeauty%252Fproduct%252F12-months-subscription%252F&format=xml')
  script(type='text/javascript').
    var kc_script_data={ajax_url:"http://wpthemecube.com/thebox/beauty/wp-admin/admin-ajax.php"}
  style(type='text/css').
    @media screen and (max-width: 768px) {
    .site-content {margin-top:96px !important;}
    }
  noscript
    style.
      .woocommerce-product-gallery{ opacity: 1 !important; }
  style.options-output(type='text/css' title='dynamic-css').
    .preload, .site-loader .redux-container-image_select ul.redux-image-select li img.loader{background-color:#ffd1d8;}.add_to_cart_button, .single-product .summary ins .woocommerce-Price-amount, .product_category_title a:hover, .woocommerce-breadcrumb a:hover, .single-product ul.tabs.wc-tabs li.active a, .widget .mini_cart_item a:hover, .woocommerce table.shop_table th, .btn-outline-primary, table.shop_table .product-name a:hover, a.tag-cloud-link, .page-numbers, .product_type_variable, .blog-posts h2.entry-title a:hover, .nav-links a:hover, .post-edit-link:hover, .entry-content table a:hover, .wp-caption-text a, .entry-meta .posted-on a:hover, .entry-meta .byline a:hover, .mini_cart_item a:hover, .related a .woocommerce-loop-product__title:hover, .edit-link a:hover, .post-navigation .nav-links .nav-previous:before, .post-navigation .nav-links .nav-next:after, .comment-body a:hover, .entry-content cite a:hover, .widget a:hover, .archive .product a:hover h2.woocommerce-loop-product__title, .entry-content .shipping-calculator-button, .added_to_cart:hover, .woocommerce-account .site-content a:hover, .header-studio i, .space-thumb .caption i, h3.space-title a:hover, #member-detail .social a, .member-thumb .social a:hover, .member-thumb .social a:focus, .slick-prev:before, .slick-next:before, .testimonial:before, .single-product .product-type-grouped .price, a.navbar-toggler, a.tribe-event-url, a.tribe-events-read-more, a.tribe-events-gmap:hover, .tribe-events-back a, .tribe-events-nav-next a, .tribe-events-month-event-title .url, .single-product .product-type-external .price, .single-product .summary .price ins, .single-product .posted_in a:hover, h4.media-heading a:hover, .site-footer caption, .site-footer .widget .url, .site-footer .widget .rsswidget, .site-footer .widget a.tag-cloud-link, .woocommerce .card-body .product_type_simple, .list-icon li:before, .showcoupon:hover, .single-product ul.tabs.wc-tabs li a:hover, .blog-posts i{color:#e74dea;}.shopping-ico .count, a.tag-cloud-link:hover, .btn-primary, .widget input[type="submit"], .widget button[type="submit"], .post input[type="submit"], .page-numbers.current, .pagination a.page-numbers:hover, .page-links a:hover, .page-links a:focus, .woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .onsale, .single-product .related .onsale, .single_add_to_cart_button, .product .quantity input[type="text"], .btn-increment, .btn-decrement, .btn-outline-primary:hover, .btn-primary.disabled, .btn-primary:disabled, .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle, .woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current,.woocommerce-error .button, .woocommerce-info .button, .woocommerce-message .button, .mini-box:hover, figure.member-thumb figcaption::before, div.wpforms-container-full .wpforms-form button[type=submit], #secondary h5.widget-title:after{background-color:#e74dea;}a.tag-cloud-link:hover, .btn-primary, .widget input[type="submit"], .widget button[type="submit"], .post input[type="submit"], .single_add_to_cart_button, .product .quantity input[type="text"], .btn-increment, .btn-decrement, .btn-outline-primary, .btn-outline-primary:hover, .btn-primary.disabled, .btn-primary:disabled, .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle, a.tag-cloud-link, .woocommerce-info, .widget a.tag-cloud-link:hover, .site-footer .widget a.tag-cloud-link{border-color:#e74dea;}.sticky::after{border-top-color:#e74dea;}.single-product ul.tabs.wc-tabs li.active a{border-bottom-color:#e74dea;}.product_type_grouped, .product_type_variable:hover, .cat-links a:hover, .tags-links a:hover, .comments-link a:hover, .wp-caption-text a:hover, .singlepostheader .entry-meta .byline a:hover, .widget .rsswidget:hover, .widget .url:hover, .product_type_external, #member-detail .social a:hover, a.tribe-event-url:hover, a.tribe-events-read-more:hover, .tribe-events-back a:hover, .tribe-organizer-url a, .tribe-venue-url a, .tribe-events-nav-next a:hover, .tribe-events-month-event-title .url:hover, .logged-in-as a:hover, .singlepostheader .entry-meta .posted-on a:hover, .single-product ul.tabs.wc-tabs li.active a:hover, .comment-edit-link:hover, h4.media-heading a{color:#d702e2;}.btn-primary:hover, .single_add_to_cart_button:hover, .btn-increment:hover, .btn-decrement:hover, .btn-increment:active, .btn-decrement:active, .btn-increment:focus, .btn-decrement:focus, .woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content, .btn-primary.disabled:hover, .btn-primary:disabled:hover, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle, .widget input[type="submit"]:hover, .widget button[type="submit"]:hover, .post input[type="submit"]:hover, .woocommerce-error .button:hover, .woocommerce-info .button:hover, .woocommerce-message .button:hover, div.wpforms-container-full .wpforms-form button[type=submit]:hover{background-color:#d702e2;}.btn-primary:hover, .single_add_to_cart_button:hover, .btn-increment:hover, .btn-decrement:hover, .btn-increment:active, .btn-decrement:active, .btn-increment:focus, .btn-decrement:focus, .btn-primary.disabled:hover, .btn-primary:disabled:hover, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle, .widget input[type="submit"]:hover, .widget button[type="submit"]:hover, .post input[type="submit"]:hover{border-color:#d702e2;}.blog-posts h2.entry-title a, .nav-links a, .post-edit-link, .entry-content table a, .entry-meta .posted-on a, .entry-meta .byline a, .mini_cart_item a, .related a .woocommerce-loop-product__title, .edit-link a, .comment-body a, .entry-content cite a, .widget a, .archive .product a h2.woocommerce-loop-product__title, .added_to_cart, .woocommerce-account .site-content a, a.tribe-events-gmap, .tribe-organizer-url a:hover, .tribe-venue-url a:hover, .singlepostheader .entry-meta .posted-on a, .singlepostheader .entry-meta .byline a, .cat-links a, .tags-links a, .comments-link a, .logged-in-as a, .widget .rsswidget, .widget .url, .widget a.tag-cloud-link, .single-product .posted_in a, .add_to_cart_button:hover, .product_type_grouped:hover, .product_type_external:hover, .comment-content a, .single-product .woocommerce-grouped-product-list-item__price .woocommerce-Price-amount.amount{color:#444444;}.widget a.tag-cloud-link{border-color:#444444;}.single-page-header, .blog-posts, .single #secondary .widget, .singlepostheader, .woocommerce-products-header {background-color:#fef2f4;}body{font-family:"Glacial Indifference";font-weight:400;font-style:normal;color:#212529;}h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{font-family:"Glacial Indifference";}.navbar-brand img.navbar-logo{height:70px;}.navbar-custom{background-color:#ffffff;}.navbar-nav .nav-link:hover, .dropdown-item:focus, .dropdown-item:hover{background-color:transparent;}.dropdown-menu{background-color:#ffffff;}.navbar-nav .nav-link, .dropdown-item, .navbar-toggler.login-link, .navbar-toggler.header-mini-cart{color:#000000;}.navbar-nav .nav-link:hover, .dropdown-item:hover, .navbar-toggler.login-link:hover, .navbar-toggler.header-mini-cart:hover{color:#e74dea;}.navbar-toggler{color:#e74dea;}.navbar-custom .nav-link, .navbar-custom .dropdown-menu, .site-header-cart span.amount, .navbar-custom span.count, .wpforms-field-label, .dropdown-item{font-family:"Glacial Indifference";text-transform:uppercase;line-height:20px;letter-spacing:1px;font-weight:700;font-size:13px;}footer.site-footer{background-color:#000000;}footer.site-footer, footer.site-footer a{color:#ffffff;}footer.site-footer{padding-top:60px;padding-right:0;padding-bottom:20px;padding-left:0;}.subfooter{background-color:#000000;}.subfooter span{color:#ffffff;}.navbar-custom .cart-contents, .login-link, .login-link:hover{color:#000000;}

bodyproduct-template-default.single.single-product.postid-841.kc-css-system.locale-en-us.woocommerce.woocommerce-page.woocommerce-js.woocommerce-active
  #page.site
  .preload
    .preload-inner
      img.mx-auto.svg-loader(src='/wp-content/themes/thebox/img/svg-loaders/oval.svg' alt='preloader')
  
  include partials/header
  
  block content

  include partials/footer

  script(type='application/ld+json').
    {"@context":"https:\\/\/schema.org\/","@graph":[{"@context":"https:\/\/schema.org\/","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"item":{"name":"Home","@id":"http:\/\/wpthemecube.com\/thebox\/beauty"}},{"@type":"ListItem","position":2,"item":{"name":"Subscription","@id":"http:\/\/wpthemecube.com\/thebox\/beauty\/product-category\/subscription\/"}},{"@type":"ListItem","position":3,"item":{"name":"12 Months Subscription","@id":"http:\/\/wpthemecube.com\/thebox\/beauty\/product\/12-months-subscription\/"}}]},{"@context":"https:\/\/schema.org\/","@type":"Product","@id":"http:\/\/wpthemecube.com\/thebox\/beauty\/product\/12-months-subscription\/#product","name":"12 Months Subscription","url":"http:\/\/wpthemecube.com\/thebox\/beauty\/product\/12-months-subscription\/","image":"http:\/\/wpthemecube.com\/thebox\/beauty\/wp-content\/uploads\/2019\/03\/month_box.png","description":"&amp;nbsp;\r\nRe-bills every 12 months.\r\n\r\n\r\n \tDuis ac blandit ipsum.\r\n \tEtiam finibus iaculis imperdiet.\r\n \tDonec finibus tincidunt massa quis feugiat.\r\n \tRisus imperdiet id fusce vitae facilisi.\r\n \tNam sed mauris ornare, tempus elit quis.\r\n \tMorbi ullamcorper id lorem vitae varius.\r\n\r\n\r\n \t Free Shipping\r\n \t 100% Satisfaction\r\n \t Cancel Anytime","sku":842,"offers":[{"@type":"Offer","price":"455.40","priceValidUntil":"2020-12-31","priceSpecification":{"price":"455.40","priceCurrency":"USD","valueAddedTaxIncluded":"false"},"priceCurrency":"USD","availability":"https:\/\/schema.org\/InStock","url":"http:\/\/wpthemecube.com\/thebox\/beauty\/product\/12-months-subscription\/","seller":{"@type":"Organization","name":"thebox | Beauty","url":"http:\/\/wpthemecube.com\/thebox\/beauty"}}]}]}
  script.
    (function() {function addEventListener(element,event,handler) {
    if(element.addEventListener) {
    element.addEventListener(event,handler, false);
    } else if(element.attachEvent){
    element.attachEvent('on'+event,handler);
    }
    }function maybePrefixUrlField() {
    if(this.value.trim() !== '' && this.value.indexOf('http') !== 0) {
    this.value = "http://" + this.value;
    }
    }
    var urlFields = document.querySelectorAll('.mc4wp-form input[type="url"]');
    if( urlFields && urlFields.length > 0 ) {
    for( var j=0; j < urlFields.length; j++ ) {
    addEventListener(urlFields[j],'blur',maybePrefixUrlField);
    }
    }/* test if browser supports date fields */
    var testInput = document.createElement('input');
    testInput.setAttribute('type', 'date');
    if( testInput.type !== 'date') {
    /* add placeholder & pattern to all date fields */
    var dateFields = document.querySelectorAll('.mc4wp-form input[type="date"]');
    for(var i=0; i<dateFields.length; i++) {
    if(!dateFields[i].placeholder) {
    dateFields[i].placeholder = 'YYYY-MM-DD';
    }
    if(!dateFields[i].pattern) {
    dateFields[i].pattern = '[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])';
    }
    }
    }
    })();
  .pswp(tabindex='-1' role='dialog' aria-hidden='true')
    .pswp__bg
    .pswp__scroll-wrap
      .pswp__container
        .pswp__item
        .pswp__item
        .pswp__item
      .pswp__ui.pswp__ui--hidden
        .pswp__top-bar
          .pswp__counter
          button.pswp__button.pswp__button--close(aria-label='Close (Esc)')
          button.pswp__button.pswp__button--share(aria-label='Share')
          button.pswp__button.pswp__button--fs(aria-label='Toggle fullscreen')
          button.pswp__button.pswp__button--zoom(aria-label='Zoom in/out')
          .pswp__preloader
            .pswp__preloader__icn
              .pswp__preloader__cut
                .pswp__preloader__donut
        .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
          .pswp__share-tooltip
        button.pswp__button.pswp__button--arrow--left(aria-label='Previous (arrow left)')
        button.pswp__button.pswp__button--arrow--right(aria-label='Next (arrow right)')
        .pswp__caption
          .pswp__caption__center
  script(type='text/javascript').
    var c = document.body.className;
    c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
    document.body.className = c;
  script(type='text/javascript' src='../../wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js@ver=2.70')
  script(type='text/javascript').
    /* <![CDATA[ */
    var wc_add_to_cart_params = {"ajax_url":"\\/thebox\/beauty\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/thebox\/beauty\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View cart","cart_url":"http:\/\/wpthemecube.com\/thebox\/beauty\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
    /* ]]> */
  script(type='text/javascript' src='../../wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js@ver=3.5.6')
  script(type='text/javascript' src='../../wp-content/plugins/woocommerce/assets/js/zoom/jquery.zoom.min.js@ver=1.7.21')
  script(type='text/javascript' src='../../wp-content/plugins/woocommerce/assets/js/flexslider/jquery.flexslider.min.js@ver=2.7.2')
  script(type='text/javascript' src='../../wp-content/plugins/woocommerce/assets/js/photoswipe/photoswipe.min.js@ver=4.1.1')
  script(type='text/javascript' src='../../wp-content/plugins/woocommerce/assets/js/photoswipe/photoswipe-ui-default.min.js@ver=4.1.1')
  script(type='text/javascript').
    /* <![CDATA[ */
    var wc_single_product_params = {"i18n_required_rating_text":"Please select a rating","review_rating_required":"yes","flexslider":{"rtl":false,"animation":"slide","smoothHeight":true,"directionNav":false,"controlNav":"thumbnails","slideshow":false,"animationSpeed":500,"animationLoop":false,"allowOneSlide":false},"zoom_enabled":"1","zoom_options":[],"photoswipe_enabled":"1","photoswipe_options":{"shareEl":false,"closeOnScroll":false,"history":false,"hideAnimationDuration":0,"showAnimationDuration":0},"flexslider_enabled":"1"};
    /* ]]> */
  script(type='text/javascript' src='../../wp-content/plugins/woocommerce/assets/js/frontend/single-product.min.js@ver=3.5.6')
  script(type='text/javascript' src='../../wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js@ver=2.1.4')
  script(type='text/javascript').
    /* <![CDATA[ */
    var woocommerce_params = {"ajax_url":"\\/thebox\/beauty\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/thebox\/beauty\/?wc-ajax=%%endpoint%%"};
    /* ]]> */
  script(type='text/javascript' src='../../wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js@ver=3.5.6')
  script(type='text/javascript').
    /* <![CDATA[ */
    var wc_cart_fragments_params = {"ajax_url":"\\/thebox\/beauty\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/thebox\/beauty\/?wc-ajax=%%endpoint%%","cart_hash_key":"wc_cart_hash_55d139fc205fbf7c87b29c0d03730055","fragment_name":"wc_fragments_55d139fc205fbf7c87b29c0d03730055"};
    /* ]]> */
  script(type='text/javascript' src='../../wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js@ver=3.5.6')
  script(type='text/javascript' src='../../wp-content/themes/thebox/js/bootstrap.min.js@ver=5.2.4')
  script(type='text/javascript' src='../../wp-content/themes/thebox/js/slick.min.js@ver=5.2.4')
  script(type='text/javascript' src='../../wp-content/themes/thebox/js/instafeed.min.js@ver=5.2.4')
  script(type='text/javascript' src='../../wp-content/themes/thebox/js/jquery.nice-select.min.js@ver=5.2.4')
  script(type='text/javascript' src='../../wp-content/themes/thebox/js/form-validate.js@ver=5.2.4')
  script(type='text/javascript' src='../../wp-content/themes/thebox/js/scripts.js@ver=5.2.4')
  script(type='text/javascript' src='../../wp-includes/js/comment-reply.min.js@ver=5.2.4')
  script(type='text/javascript' src='../../wp-content/plugins/kingcomposer/assets/frontend/js/kingcomposer.min.js@ver=2.8')
  script(type='text/javascript' src='../../wp-includes/js/wp-embed.min.js@ver=5.2.4')
  script(type='text/javascript').
    /* <![CDATA[ */
    var mc4wp_forms_config = [];
    /* ]]> */
  script(type='text/javascript' src='../../wp-content/plugins/mailchimp-for-wp/assets/js/forms-api.min.js@ver=4.3.3')
  //if lte IE 9
    script(type='text/javascript' src='http://wpthemecube.com/thebox/beauty/wp-content/plugins/mailchimp-for-wp/assets/js/third-party/placeholders.min.js?ver=4.3.3')
